
.wrapper {
    display: grid;
    grid-template-areas: "h h h h h h h h h h h h"
                         "c c c c c c c c c c c m"
                         "f f f f f f f f f f f f";
}

.side-menu {
    grid-area: m;
}

.content {
    grid-area: c;
       
}

.header {
    grid-area: h;
}
.others {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

 