
.flex-container {
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
     
}
.introduce, .skills, .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 1em;
}

#cardinal {
    max-width: 100%;
    height: auto;
    border-radius: 3em;
}
footer ul {
    display: flex;
    justify-content: center;
}

.card img {
    width: 100%;
    height: auto;
}
.hello {
    font-size: 3em;
}
button {
    font-size: 2em;
}
.card {
    width: 30%;
    height: auto;
    margin: 1em 1em 0;
    

}


footer ul li button {
    margin-top: 0.5em;
}
@media only screen and (max-width: 768px){

    
    .flex-container {
        display: flex;
        flex-direction: column;
        
        margin-left: 3%;
        margin-right: 3%;
    }
    .introduce, .skills, .projects {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        align-items: center;

    }
    .hello {
        font-size: 2em;
    }
    button {
        font-size: 1em;
    }

    .image img, .image img, #cardinal{
        width: 100%;
        height: auto;
        margin: auto;
    }
    .box {
        width: 90%;
        height: auto;
        margin: auto;
    }
    
    
    
}
