body{
    padding: 0;
    margin: 0;
    /* background-color: #5cdb95; */
    
    font-family: Poppins;

}
.form {
    width: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    color: #000;
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
    
    
}
h1 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    color: teal;
    text-align: center;
    margin-bottom: 8%;
    font-family: Courgette;
}
.form input {
    width: 50vh;
    margin-bottom: 20px;
}
.form input[type=email], .form input[type=password]{
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    outline: none;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    color: #000;
}
.form input[type=submit] {
    border: none;
    outline: none;
    height: 40px;
    background: #f6648b;
    color: blue;
    font-size: 14px;
    font-weight: bold;


}
.form input[type=submit]:hover {
    cursor: pointer;
}
.form a {
    font-size: 14px;
    text-decoration: none;
    color: teal;
    opacity: 0.8;
}
.bottom-text {
    color: teal;
}
.bottom-text input {
    width: 10%;
    float: left;
}
.bottom-text a {
    float: right;
}
.socials {
    margin-top: 12%;
    text-align: center;
}
.socials a {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
}
.socials a:nth-child(1) {
    background: #3b5998;
}
.socials a:nth-child(2) {
    background: #55acee;
}
.socials a:nth-child(3) {
    background: #0077b5;
}
.socials a i {
    padding: 8px 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25vh;
    height: 8vh;
    
}

 


