<!DOCTYPE html>
<html>
    <head>
        <title>Loic || Article</title>
        <link rel="stylesheet" type="text/css" href="/css/nav.css">
        <link rel="stylesheet" href="/css/article.css">
        
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="/js/addArticle.js"></script>
    </head>
    <body>
        <div class="header">
            <nav>
    
                <a class="logo"><img src="/img/logo.jpg"></a>
                
                <ul class="menu">
                        
                        
                        <li class="item"><a id="about" href="/dashboard">dashboard</a></li>
                        <li class="item button"><a id="signIn" href="#">sign-out</a></li>
                        
                </ul>
    
                
                <div class="toggleDiv"><a class="toggle" href="#"><i class="fa fa-bars"></i></a></div>
            
            </nav>
            <hr>
        </div>    
        <div class="content">
            <h1>Article page</h1>
            <form class="form" id="article_form">
                <div class="form-group">
                         
                    <label  for="articleTitle">Title</label><br>
                    <input type="text" id="articleTitle" class="form-control" name="articleTitle" placeholder="Title" required> 
                </div>
                <div class="form-group">
                         
                    <label  for="publicdate">Date</label><br>
                    <input type="date" id="publicdate" class="form-control" name="publicdate" required>  
                </div>
                <div class="form-group">
                    <label for="content">The article content</label><br>
                    <textarea name="content" id="content" placeholder="Content" required></textarea>
                </div>
                <div>
                    <input type="file" id="image" accept="image/*"><span id="uploadProgress"></span>
                </div>
                <div>
                    <img src='' id="imagePreview">
                    
                </div>
                <div>
                   
                   <input id="addArticlebtn" class="submit" type="submit" name="send" value="Add article">
                </div>
               
                
            </form>
        </div>
        <section class="footer">
            <footer> 
                <small>&copy; Copyright 2020, Loic</small> 
            </footer>
        </section>
   

    </body>
</html>